In [2]:
#DATA_DIR = 'D:\\Dropbox (Personal)\\data\\LV\\SimpliSafe\\Initial project\\Processed data\\'
#DATA_DIR = "D:\Dropbox (Personal)\data\LV\CBG\\"
#FILENM   = 'cbg_spend.csv'
DATA_DIR = "C:\\Users\\tom\\Downloads\\"
FILENM   = 'cbg'

In [2]:
filenm = DATA_DIR+FILENM

f1 = open(filenm,'r')

count=0

for text in f1:
    count += 1

print('# of records: ' + '{:,}'.format(count))

f1.close()

# of records: 220,334

In [6]:
import pandas as pd

df = pd.read_csv(DATA_DIR+FILENM, sep=",", nrows=100)

In [7]:
df.head()

  60372372023\tCA\t0106000020E6100000010000000103000000010000001000000040E93F16A2935DC0501B2A0307FE4040AC1E0E12A2935DC050BA42B115FE40408089AA09A2935DC0D0315A9C31FE404058F44601A2935DC0A8CAF4A44CFE40409409C11F7E935DC0D0E0027B4CFE40407892D6355A935DC000F710514CFE404038F26B425A935DC050F3D95031FE40408C1C33535A935DC0D07BC26515FE404080BA955B5A935DC02886C6FA06FE4040AC4FF9635A935DC0E88BBAB9F8FD4040007AC0745A935DC090A46C1ADBFD404058A487855A935DC010A710A5BDFD404020F1AA5E7E935DC0C0FB9EC6BDFD4040C0A86A2FA2935DC090E590F0BDFD40400049D522A2935DC0680F0912DBFD404040E93F16A2935DC0501B2A0307FE4040\tLOS ANGELES\t0101000020E61000008AAB373A7E935DC00BAD152805FE4040\t-118.304579309812\t33.9845323663559
0  51190042011\tAR\t0106000020E610000001000000010...
1  51190042012\tAR\t0106000020E610000001000000010...
2  51190042071\tAR\t0106000020E610000001000000010...
3  51190042022\tAR\t0106000020E610000001000000010...
4  51190040063\tAR\t0106000020E610000001000000010...

In [16]:
df.head()

  Last Name                        Street          City State
0   LAURANS                   17 HAWES ST     BROOKLINE    MA
1     ENGEL                  39 OXFORD ST       BELMONT    MA
2      GUST      4001 S BUSINESS PARK AVE    MARSHFIELD    WI
3     IRWIN      4001 S BUSINESS PARK AVE    MARSHFIELD    WI
4    PHIPPS  7480 FLYING CLOUD DR STE 100  EDEN PRAIRIE    MN

In [5]:
df = df.drop_duplicates()

In [6]:
df.shape

(1581392, 4)

In [7]:
df.head()

  Last Name                        Street          City State
0   LAURANS                   17 HAWES ST     BROOKLINE    MA
2     ENGEL                  39 OXFORD ST       BELMONT    MA
4      GUST      4001 S BUSINESS PARK AVE    MARSHFIELD    WI
6     IRWIN      4001 S BUSINESS PARK AVE    MARSHFIELD    WI
8    PHIPPS  7480 FLYING CLOUD DR STE 100  EDEN PRAIRIE    MN

In [9]:
df.to_csv("C:\\Users\\Tom Browne\\ss_notfound.csv", sep=",", index=False)